.thum {
    background: url(../images/thumb.jpeg);
    width: 100%;
    height: 600px;
    border-radius: 10px;
    padding-bottom: 0;

    h3 {
        text-align: center;
        color: azure;
        padding: 10px;
    }

    @media screen and (max-width: 550px) {
        & {
            background: url(../images/thumb3.jpeg);
            width: 100%;
            height: 550px;
        }
    }

}
